# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objective:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Evaluating arithmetic expressions

Some of the popular languages that Data Scientists are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|R Studio          |
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python
Addition
result_add = 10 + 5
print("Addition:", result_add)  

Subtraction
result_sub = 20 - 8
print("Subtraction:", result_sub)  

Multiplication
result_mul = 7 * 4
print("Multiplication:", result_mul)  

Division (float)
result_div = 15 / 3
print("Division:", result_div)

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Afomya Alemayehu